---
// リモート画像を使う前提とする
import type { BlogImageProps } from "@lib/contents/blog";

import CollectionPicture from "./CollectionPicture.astro";

interface Props {
  images: Required<BlogImageProps>[] | Required<BlogImageProps>;
}
const { images, ...globalAttrs } = Astro.props;
// かならずArrayになるように型を操作する
const list = Array.isArray(images) ? images : [images];
---

<div class="picture-list-container">
  {
    list.length === 0 ? (
      <p class="no-image">写真がありません。</p>
    ) : (
      <div class="image-container">
        {list.map((item) => {
          const { src, width, height, alt, caption, ...attrs } = item;

          return (
            <CollectionPicture
              src={src}
              width={width}
              height={height}
              alt={alt}
              caption={caption}
              {...attrs}
              {...globalAttrs}
            />
          );
        })}
      </div>
    )
  }
</div>

<style>
  .picture-list-container {
    margin: 1.5rem auto;
    @media (max-width: 1024px) {
      margin: 0.7rem auto;
    }
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
</style>
