---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import { getImage } from "@astrojs/image";

import type { FrontmatterByRemarkPlugin } from "@lib/schema";
import { getBlogPostEntries, createRelated } from "@lib/blog";
import { dateText } from "@lib/utils";

import BlogGeneralLayout from "@layouts/BlogGeneralLayout.astro";
import SiblingsLinkContainer from "@components/blog/SiblingsLinkContainer.astro";
import TagContainer from "@components/blog/TagContainer.svelte";
import ArticleTag from "@components/blog/ArticleTag.svelte";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog");
  const blogPostEntries = await getBlogPostEntries(allBlogPosts);
  blogPostEntries.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));

  return blogPostEntries.map((entry, i, array) => {
    const next = i === 0 ? null : array.at(i - 1) ?? null;
    const prev = i === array.length ? null : array.at(i + 1) ?? null;
    const related = createRelated(array, entry);
    return {
      params: { slug: entry.slug },
      props: { entry, next, prev, related },
    };
  });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry, next, prev, related } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const {
  title,
  description,
  date,
  updateDate,
  thumbnail,
  thumbnailFormat,
  tags,
  latex,
} = entry.data;
const additionalFrontmatter =
  remarkPluginFrontmatter as FrontmatterByRemarkPlugin;
const wordCount = additionalFrontmatter.wordCount;

const img = await getImage({
  src: import(`../blog/thumb/${thumbnail}.${thumbnailFormat}`),
  format: "webp",
  width: 1024,
  alt: "thumbnail",
});
const ogp = {
  url: Astro.request.url,
  type: "blog",
  title: `Under Construction | blog | ${title}`,
  description,
  siteName: "Under Construction",
  image:
    "https://littleikawa.github.io" +
    (img.src ?? "/under-construction/img/blue_2.png"),
};
---

<BlogGeneralLayout ogp={ogp} title={title} usingLatex={latex}>
  <h1>{title}</h1>
  <div class="date-block">
    <span>
      {dateText(date)}
      {updateDate ? <>（{dateText(updateDate)} 追記）</> : null}
    </span>
  </div>

  <TagContainer tagList={tags} />
  {
    /* NOTE: この文字数カウントが正確か検証はしていない. 大体あっていそうだが... */
  }
  <div class="word-count">
    <span>文字数：{wordCount}</span>
  </div>
  <div class="img-container">
    <img
      src={img.src}
      width={img.width}
      height={img.height}
      alt={img.alt}
      loading="eager"
      decoding="async"
    />
  </div>
  <div class="blog-article-content-container">
    <Content />
  </div>
  <SiblingsLinkContainer next={next} prev={prev} />
  <h2>関連記事</h2>
  <div class="related-articles-container">
    {
      related.map(({ slug, title, whyRelated: why }) => {
        return (
          <a
            class="article-link"
            href={`${import.meta.env.BASE_URL}blog/${slug}`}
          >
            <div class="related-article">
              <span>{title}</span>
              {why !== "specified" && <ArticleTag tag={why} />}
            </div>
          </a>
        );
      })
    }
  </div>
</BlogGeneralLayout>

<style>
  .img-container {
    border: 4px solid var(--main-color);
    width: 100%;
    height: 45vh;
    clip: rect(0, 0, 0, 0);
    margin: 3rem auto;
  }
  .img-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  :global(.blog-article-content-container) {
    line-height: 1.8rem;
  }
  .blog-article-content-container :global(a) {
    color: darkgoldenrod;
    &:hover {
      color: orangered;
    }
  }
  .blog-article-content-container :global(h2) {
    margin-top: 4rem;
    margin-bottom: 1.4rem;
  }
  .blog-article-content-container :global(h3) {
    margin-top: 2.5rem;
  }
  .blog-article-content-container :global(p) {
    margin: 1.5rem 1rem;
    @media (max-width: 1024px) {
      margin: 1.5rem 0;
    }
  }
  .blog-article-content-container :global(img) {
    width: 100%;
    height: auto;
  }
  .blog-article-content-container :global(ul) {
    margin: auto 1rem;
    padding-left: 1.6rem;
  }
  .blog-article-content-container :global(blockquote) {
    margin: 0 1rem;
    /* paddingの縦が0だとpタグのmarginと相殺されるため微小量を設定する */
    padding: 1px 0.8rem;
    background-color: rgba(var(--main-color-params), 0.2);
    border-radius: 10px;
  }
  .blog-article-content-container :global(nav.toc) {
    & :global(.toc-link) {
      color: var(--main-color);
      &:hover {
        color: orangered;
      }
    }
    padding: 0.8rem 1.2rem;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
    & :global(ol) {
      margin-left: 1.6rem;
    }
  }
  /* h2, h3見出し開始位置を崩さない処理と, 見出し上でホバーしたらアンカーリンク（#文字）が表示される処理. */
  .blog-article-content-container {
    & :global(span.anchor-link) {
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
      color: transparent;
    }
    & :global(h2:hover span.anchor-link) {
      color: inherit;
    }
    & :global(h3:hover span.anchor-link) {
      color: inherit;
    }
  }
  /* 脚注の下の<p>タグの行間を詰める処理 NOTE: むしろrehypeで<p>タグを取ってもいいかもしれない. */
  .blog-article-content-container {
    & :global(h2#footnote-label + ol) {
      margin: 1.7rem 1rem;
      & :global(p) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .related-articles-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    & .article-link {
      border: 1px solid var(--main-color);
      border-bottom: 0;
      background-color: rgba(var(--main-bg-params), 0.6);
      &:last-child {
        border: 1px solid var(--main-color);
      }
    }
    & .article-link:hover {
      background-color: var(--main-color);
      color: var(--main-bg-color);
    }
    & .related-article {
      padding: 1.1rem 1rem;
    }
  }
</style>
