---
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection } from "astro:content";

import type { FinalBlogCollectionEntry } from "@lib/schema";
import { getBlogPostEntries } from "@lib/blog";
import { POST_PER_PAGE } from "@lib/utils";

import BlogGeneralLayout from "@layouts/BlogGeneralLayout.astro";
import ArticleCardContainer from "@components/blog/ArticleCardContainer.astro";
import PaginationContainer from "@components/blog/PaginationContainer.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allBlogPosts = await getCollection("blog");
  const blogPostEntries = await getBlogPostEntries(allBlogPosts);
  blogPostEntries.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));
  return paginate(blogPostEntries, { pageSize: POST_PER_PAGE });
}
interface Props {
  page: Page<FinalBlogCollectionEntry>;
}
// ページ分割されたデータは、すべて "page" プロパティとして渡される
const { page } = Astro.props;
const ogp = {
  url: Astro.request.url,
  type: "blog",
  title: "Under Construction | Blog",
  description: "ブログトップページ",
  siteName: "Under Construction",
  image: "https://littleikawa.github.io/under-construction/img/blue_2.png",
};
---

<BlogGeneralLayout ogp={ogp} title="">
  <h2>Blog</h2>
  <h3>{page.currentPage}</h3>
  <ArticleCardContainer cardList={page.data} />
  <PaginationContainer
    subbase={"blog/"}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
  />
</BlogGeneralLayout>
