---
import { Image } from "@astrojs/image/components";

import BaseLayout from "@layouts/BaseLayout.astro";
import ProfileSection from "@components/sections/ProfileSection.astro";
import SkillSection from "@components/sections/SkillSection.astro";
import WorksSection from "@components/sections/WorksSection.astro";
import ContactSection from "@components/sections/ContactSection.svelte";
import "@fontsource/noto-sans-jp/700.css";

const illustBgSettings = {
  src: `${import.meta.env.BASE_URL}img/my-icon.png`,
  alt: "illust-background",
  quality: 50,
  width: 1024,
  height: 1024,
};
---

<BaseLayout title="Under Construction">
  <Image
    class={"background-image"}
    src={illustBgSettings.src}
    alt={illustBgSettings.alt}
    quality={illustBgSettings.quality}
    width={illustBgSettings.width}
    height={illustBgSettings.height}
    format={"webp"}
    loading="eager"
    fetchpriority="high"
  />
  <div class="title-container">
    <div class="title-card">
      <h1 class="title">UNDER CONSTRUCTION</h1>
      <p class="subtitle">Aiwaka's profile website</p>
    </div>
  </div>
  <div class="slided-bg-image-container">
    <Image
      class={"slided-bg-image"}
      src={`${import.meta.env.BASE_URL}img/blue_2.png`}
      alt="light-background"
      width={1200}
      height={900}
      format={"webp"}
    />
  </div>
  <main class="main-container">
    <div class="contents-container">
      <ProfileSection />
      <SkillSection />
      <WorksSection />
      <ContactSection />
    </div>
  </main>
</BaseLayout>

<style>
  /* .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  } */
  .background-image {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    position: fixed;
    top: 7lvh;
    right: 0;
    width: 100lvh;
    height: 100lvh;
    @media (max-width: 1024px) {
      right: -20lvh;
    }
  }

  .title-container {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100lvh;
    width: 100%;
    mix-blend-mode: exclusion;
  }
  .title-card {
    position: sticky;
    top: 50lvh;
    height: 100lvh;
    width: 80vw;
    margin: -70lvh auto;
    text-align: center;
    letter-spacing: 0.5rem;
    color: var(--main-bg-color);
    > .title {
      font-size: 3.2rem;
      font-weight: 700;
      @media (max-width: 1024px) {
        letter-spacing: 0.3rem;
        font-size: max(7vw, 1.6rem);
      }
    }
  }
  .slided-bg-image-container {
    overflow: hidden;
    top: 0;
    position: sticky;
    margin-top: 100lvh;
    height: 100lvh;
    width: 100%;
    > .slided-bg-image {
      pointer-events: none;
      user-drag: none;
      -webkit-user-drag: none;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .main-container {
    width: 70%;
    margin: auto;
    @media (max-width: 1024px) {
      width: 90%;
    }
    z-index: 2;
    position: relative;
  }
  .contents-container {
    position: sticky;
    width: 100%;
  }

  :global(.section-item) {
    margin: 5rem auto;
  }
</style>
