---
import { dateText } from "@lib/utils";

import TagContainer from "./TagContainer.svelte";
import type { BlogPostEntry } from "@lib/contents/blog";

interface Props {
  entry: BlogPostEntry;
}

const { entry } = Astro.props;
const {
  title,
  thumbnail,
  createdAt,
  updatedAt,
  tags,
  description,
  wordCount,
} = entry;
---

<div class="img-container">
  <img
    src={thumbnail.url}
    alt="thumbnail"
    width={thumbnail.width}
  />
</div>
<div class="card-contents">
  <h2>{title}</h2>
  <span>{dateText(createdAt)}</span>
  {dateText(createdAt) !== dateText(updatedAt) &&
    <span>（{`${dateText(updatedAt)} 追記`}）</span>
  }
  <div class="word-count">
    <span>文字数：{wordCount}</span>
  </div>
  <div class="overview">{description}</div>
  <TagContainer tagList={tags} />
</div>



<style>
  .img-container {
    border: 4px solid var(--main-font-color);
    width: 100%;
    height: 12rem;
    clip: rect(0, 0, 0, 0);
  }
  .img-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .card-contents {
    padding: 0.5rem 1rem;
  }
</style>
