---
/**
 * ページ遷移ボタンを管理する
 */

interface Props {
  /** ページ番号とオリジンを除いたurlの部分文字列. ex: `blog/` */
  subbase: string;
  /** 最後のページ番号 */
  lastPage: number;
  /** 現在のページ番号 */
  currentPage: number;
}

const { subbase, lastPage, currentPage } = Astro.props;
const base = `${import.meta.env.BASE_URL}${subbase}`;
const range = (num: number) => [...Array(num)].map((_, i) => i);
---

{
  lastPage > 1 && (
    <div class="pagination-section">
      <div class="pagination-container">
        {currentPage === 1 ? (
          <div class="page-button disabled">
            <span>&lt;&lt;</span>
          </div>
        ) : (
          <a href={`${base}1`}>
            <div class="page-button">
              <span>&lt;&lt;</span>
            </div>
          </a>
        )}
        {currentPage === 1 ? (
          <div class="page-button disabled">
            <span>&lt;</span>
          </div>
        ) : (
          <a href={`${base}${currentPage - 1}`}>
            <div class="page-button">
              <span>&lt;</span>
            </div>
          </a>
        )}

        {/* 5つ分の遷移ボタンを作るが, 存在しないページはdisabledとする. */}
        {range(5).map((num) => {
          const temp = num + currentPage - 2;
          if (range(lastPage).includes(temp - 1)) {
            if (num === 2) {
              return (
                <div class="page-button current">
                  <span>{temp}</span>
                </div>
              );
            } else {
              return (
                <a href={`${base}${temp}`}>
                  <div class="page-button">
                    <span>{temp}</span>
                  </div>
                </a>
              );
            }
          } else {
            return (
              <div class="page-button disabled">
                <span> </span>
              </div>
            );
          }
        })}
        {currentPage === lastPage ? (
          <div class="page-button disabled">
            <span>&gt;</span>
          </div>
        ) : (
          <a href={`${base}${currentPage + 1}`}>
            <div class="page-button">
              <span>&gt;</span>
            </div>
          </a>
        )}
        {currentPage === lastPage ? (
          <div class="page-button disabled">
            <span>&gt;&gt;</span>
          </div>
        ) : (
          <a href={`${base}${lastPage}`}>
            <div class="page-button">
              <span>&gt;&gt;</span>
            </div>
          </a>
        )}
      </div>
    </div>
  )
}
<style>
  .pagination-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }
  .pagination-container {
    display: flex;
    width: fit-content;
    & .page-button {
      text-align: center;
      width: 2rem;
      height: 2rem;
      border: 1px solid var(--main-color);
      border-radius: 2px;
      background-color: var(--main-bg-color);
      & span {
        display: inline-block;
        line-height: 2rem;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(var(--main-color-params), 0.5);
      }
      &.current {
        background-color: var(--main-color);
        color: var(--main-bg-color);
        cursor: auto;
      }
      &.disabled {
        color: gray;
        background-color: transparent;
        border: 1px dashed gray;
        cursor: auto;
      }
    }
  }
</style>
