---
import type { BlogPostEntry } from "@lib/contents/blog";
import BlogPageCard from "./BlogPageCard.astro";

interface Props {
  next: BlogPostEntry | null;
  prev: BlogPostEntry | null;
}
const { next, prev } = Astro.props;
---

<div class="prev-next-container">
  {
    next && (
      <div class="card-box next">
        <div class="guide-text">
          <a href={`${import.meta.env.BASE_URL}blog/${next.id}`}>
            <p>Next &larr;</p>
          </a>
        </div>
        <BlogPageCard entry={next} mini={true} />
      </div>
    )
  }
  {
    prev && (
      <div class="card-box prev">
        <div class="guide-text">
          <a href={`${import.meta.env.BASE_URL}blog/${prev.id}`}>
            <p>&rarr; Prev</p>
          </a>
        </div>
        <BlogPageCard entry={prev} mini={true} />
      </div>
    )
  }
</div>

<style>
  .prev-next-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25%;
    margin: 1rem 0;

    & .card-box {
      display: flex;
      flex-direction: column;
    }
    & .guide-text {
      width: fit-content;
    }
    & .next {
      grid-column: 1 / 2;
    }
    & .prev {
      grid-column: -2 / -1;
      align-items: flex-end;
    }
    @media (max-width: 1024px) {
      column-gap: 1rem;
    }
  }
</style>
