---
import SiteFooter from "@components/SiteFooter.astro";
import SiteHeader from "@components/SiteHeader.astro";
import "@fontsource/noto-sans-jp";
import "@fontsource/noto-sans-mono";
import type { OGPInfo } from "@lib/ogp";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replace(import.meta.env.BASE_URL, "");

export interface Props {
  title: string;
  ogp?: OGPInfo;
}
const defaultOgp = {
  url: Astro.request.url,
  type: "website",
  title: "Under Construction",
  description: "あいわかのホームページ",
  siteName: "Under Construction",
  image: "https://littleikawa.github.io/under-construction/img/blue_2.png",
};

const { title, ogp = defaultOgp } = Astro.props;

const bgColor = currentPath.startsWith("blog")
  ? "var(--main-bg-color)"
  : "black";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    {
      // NOTE: ビルド時のみ含められるようにしたが意味ある？
      // Google tag (gtag.js)
      import.meta.env.PROD &&
      (
        <script
          type="text/partytown"
          async
          src="https://www.googletagmanager.com/gtag/js?id=G-XRK0L39370"
        ></script>
        <script type="text/partytown">
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());

          gtag("config", "G-XRK0L39370");
        </script>
      )
    }
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="あいわかのウェブサイトです。 Here is Aiwaka's profile website."
    />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={ogp.url} />
    <meta property="og:type" content={ogp.type} />
    <meta property="og:title" content={ogp.title} />
    <meta property="og:description" content={ogp.description} />
    <meta property="og:site_name" content={ogp.siteName} />
    <meta property="og:image" content={ogp.image} />
    <meta name="twitter:card" content="summary_large_image" />
    <slot name="extra-header" />
    <title>{title}</title>
  </head>
  <body>
    <SiteHeader />
    <slot />
    <SiteFooter />
  </body>
</html>
<script>
  if (window) {
  }
</script>

<style is:global define:vars={{ bgColor }}>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    tab-size: 4;
  }
  :root {
    --header-height: 6rem;
    --mobile-header-height: 4.6rem;
    --mobile-nav-height: 1.8rem;

    --main-color-params: 72, 61, 139;
    --main-bg-params: 244, 255, 255;

    --main-color: rgb(var(--main-color-params));
    --main-bg-color: rgb(var(--main-bg-params));
  }
  body {
    box-sizing: border-box;
    min-height: 100dvh;
    color: var(--main-color);
    background-color: var(--bgColor);
    transition: color 0.5s, background-color 0.5s;
    font-family: "Noto Sans JP", sans-serif;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  code {
    font-family: "Noto Sans Mono";
    background-color: lightgray;
    padding: 0 0.4rem;
    border-radius: 3px;
  }
  pre > code {
    background-color: transparent;
    padding: 0;
  }
  pre {
    padding: 2rem 3rem;
    border-radius: 10px;
    border-top-left-radius: 0;
  }
  .remark-code-title {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    width: fit-content;
    padding: 0.2rem 1.2rem;
    border-radius: 10px 10px 0 0;
  }
</style>
