---
interface Props {
  src: string;
  width: number | undefined;
  height: number | undefined;
  alt: string | undefined;
  caption: string | undefined;
  attrs?: Record<string, any>;
}
const { src, width, height, alt, caption, attrs } = Astro.props;
// altがなければキャプションを使い, それもなければ適当に設定するが警告を出す.
const resultAlt = alt !== undefined ? alt : caption ? caption : "no alt text";
if (!caption && !alt) {
  console.warn(
    `\n[ImageComponent.astro] in "${src}", "alt" text was not provided for an <Image> component.\n`,
  );
}
---

<div class="figure-container">
  <figure>
    <img src={src} width={width} height={height!} alt={resultAlt} {...attrs} />
    {
      caption ? (
        <figcaption style={`max-width: ${width}px`}>{caption}</figcaption>
      ) : null
    }
  </figure>
</div>

<style>
  .figure-container {
    border: 3px double var(--main-font-color);
    margin: 1.7rem 1rem;
  }
  figure {
    display: table;
    height: fit-content;
    max-width: 100%;
  }
  figure > img {
    object-fit: contain;
    vertical-align: bottom;
    max-width: 100%;
    @media (max-width: 1024px) {
      height: auto;
    }
  }
  figcaption {
    caption-side: bottom;
    display: table-caption;
    background-clip: padding-box;
    background-color: rgba(var(--main-font-color-params), 0.8);
    color: var(--main-bg-color);
    padding: 3px;
    text-align: center;
  }
</style>
